@tailwind base;
@tailwind components;
@tailwind utilities;

img{
    border-radius: 15px;
}

.customContainer{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    row-gap: 20px;
    max-width: 1440px;
    margin: 50px auto;
    padding: 0 10px;
}

@media screen and (max-width: 1150px) {
    .customContainer {
        grid-template-columns: 1fr 1.5fr;
    }
}

.content{
    width: 100%;
}

.imageContainer{
    width: 70%;
    justify-self: end;
}

@media screen and (max-width: 920px) {
    .customContainer{
        grid-template-columns: 1fr;
        width: 90%;
        padding: 10px;
        justify-items: center;
        justify-content: center;
    }

    .imageContainer{
        width: 80%;
        justify-self: center;
    }
}
@media screen and (max-width: 620px) {
    .customContainer{
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .imageContainer{
        width: 100%;
    }
}
